@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Permanent Marker', cursive,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration-line: inherit;
  color: inherit;
}

.icon {
  color: #eddde4;
}

.icon:hover {
  transform: scale3d(1.5, 1.5, 1)
}
.navActive {
  color: #cc2674;
}

.form-label {
  display: block;
  font-size: 1.2rem;
  margin: 0.625rem 0 0.25rem;
  color: #eddde4;
}

.form-input, .form-textarea {
  width: 100%;
  padding: 0.75rem;
  margin: 0.2rem 0;
  font-size: 1.2rem;
  color: #eddde4;
  border: 2px solid #133eb9;
  border-radius: 12px;
  background-color: #102967;
}

.form-textarea {
  height: 20rem;
}